*.py[cod]
*.idea
*.jpg
*.png
*.blend
*.blend1
*.sai2
*.psd
*.gif
*.ogg
test_0.py
test_1.py
test_2.py
# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject